<div id="<%= dom_id claim %>">
  <p>
    <strong>User:</strong>
    <%= claim.user_id %>
  </p>

  <p>
    <strong>Found item:</strong>
    <%= claim.found_item_id %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= claim.expiration_date %>
  </p>

</div>
