<div>
    <h1>Welcome to Scarlet & Gray Lost & Found</h1>
</div>

<div>
    <h2>Found an item?</h2>
    <p><%= link_to "Turn it in!", about_path(anchor: 'turn-in') %></p>

    <h2>Lose an item?</h2>
    <p>Search the database or fill a request!</p>
</div>

